/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.Header {
  background: #373277;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width:100%; 
  text-align: center;
  z-index: 3;

  a {
    display: inline-block;
    height: 40px;
    margin: 0 5px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: white; 
    opacity: 0.75;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 1.2rem;
    line-height: 40px;
    padding: 0 5px;
  }

  a:hover{
    opacity:1;  
  }

}

.Header-container {
  margin: 0 auto;
  padding: 5px 0;
  max-width: var(--max-content-width);
}

a.Header-Logo{
  content: 'logo';
  color:red; 
  width: 36px;
  height: 36px;
  background-color:white; 
  border-radius: 50%;
  padding:0;
  margin:0 15px -13px 15px;
}

.Header-banner {
  text-align: center;
}

